/* A rule with many properties */


#top-header {
  padding: 10px;
  font-family: 'Rubik Storm', 'Playwrite GB J Guides', sans-serif;
  color: red;
  background-color: #333; /*dark gray*/
}

.sub-header {
  color: blue;
  background-color: lightblue;
}

#green-section {
  color: green;
}

#p {
  font-size: larger;
}

.information {
  padding: 20px;
}

/*
#... -> elements with ID of  ...
  - IDs can only be unique -- only one per file
.    -> elements with CLASS of    
  - Classes can have any number of elements per file

*/